<div id="specialOffersSlider" class="carousel slide" data-ride="carousel" style="width: 750px; height: 200px;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="row">
        <div class="col">
          <img (dblclick)="gameDetails(1)" src="./assets/Images/1.jpg" class="d-block w-100" alt="...">
          <h4 class="discount">PRICE: 54</h4>
        </div>
        <div class="col">
          <img (dblclick)="gameDetails(2)" src="./assets/Images/2.jpg" class="d-block w-100" alt="...">
          <h4 class="discount">PRICE: 54</h4>
        </div>
        <div class="col">
          <img (dblclick)="gameDetails(3)" src="./assets/Images/3.jpg" class="d-block w-100" alt="...">
          <h4 class="discount">PRICE: 54</h4>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col">
          <img (dblclick)="gameDetails(1)" src="./assets/Images/1.jpg" class="d-block w-100" alt="...">
          <h4 class="discount">PRICE: 54</h4>
        </div>
        <div class="col">
          <img (dblclick)="gameDetails(2)" src="./assets/Images/2.jpg" class="d-block w-100" alt="...">
          <h4 class="discount">PRICE: 54</h4>
        </div>
        <div class="col">
          <img (dblclick)="gameDetails(3)" src="./assets/Images/3.jpg" class="d-block w-100" alt="...">
          <h4 class="discount">PRICE: 54</h4>
        </div>
      </div>

    </div>
    <div class="carousel-item">
      <div class="row">
        <div class="col">
          <img (dblclick)="gameDetails(1)" src="./assets/Images/1.jpg" class="d-block w-100" alt="...">
          <h4 class="discount">PRICE: 54</h4>
        </div>
        <div class="col">
          <img (dblclick)="gameDetails(2)" src="./assets/Images/2.jpg" class="d-block w-100" alt="...">
          <h4 class="discount">PRICE: 54</h4>
        </div>
        <div class="col">
          <img (dblclick)="gameDetails(3)" src="./assets/Images/3.jpg" class="d-block w-100" alt="...">
          <h4 class="discount">PRICE: 54</h4>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#specialOffersSlider" style="margin-left: -80px" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#specialOffersSlider" style="margin-right: -80px" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
