<div mat-dialog-content>
  <p>Change password</p>
  <mat-form-field>
    <mat-label>Old password</mat-label>
    <input type="password" matInput [(ngModel)]="oldPassword" #old="ngModel"
           required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>New password</mat-label>
    <input type="password" matInput [(ngModel)]="newPassword" #new="ngModel"
           required>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button (click)="changePassword()" *ngIf="new.valid && old.valid" [mat-dialog-close]="" cdkFocusInitial>Ok</button>
</div>
