<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="width: 750px; height: 353px;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="col-md-8">
        <img (dblclick)="gameDetails(1)" src="./assets/Images/1.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="col-md-4">
        <h2 style="color: snow; text-align: center">GameName</h2>
        <div class="row" style="color: snow">
          <p>PRICE: </p>
          <p>GENRE: </p>
          <p>RELEASE DATE: </p>
          <p>DEVELOPER: </p>
          <p>PUBLISHER: </p>
          <p>CATEGORIES: </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col-md-8">
        <img (dblclick)="gameDetails(2)" src="./assets/Images/2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="col-md-4" style="color: snow">
        <h2 style="color: snow; text-align: center">GameName</h2>
        <div class="row">
          <p>PRICE: </p>
          <p>GENRE: </p>
          <p>RELEASE DATE: </p>
          <p>DEVELOPER: </p>
          <p>PUBLISHER: </p>
          <p>CATEGORIES: </p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="col-md-8">
        <img (dblclick)="gameDetails(3)" src="./assets/Images/3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="col-md-4">
        <h2 style="color: snow; text-align: center">GameName</h2>
        <div class="row" style="color: snow">
          <p>PRICE: </p>
          <p>GENRE: </p>
          <p>RELEASE DATE: </p>
          <p>DEVELOPER: </p>
          <p>PUBLISHER: </p>
          <p>CATEGORIES: </p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" style="margin-left: -60px" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" style="margin-right: -60px" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
