<div class="row">
  <div class="col-md-1 offset-5" [hidden]="loader">
    <mat-spinner ></mat-spinner>
  </div>
  <div *ngIf="games.length === 0">
    <h2 style="color: darkgrey; margin-left: 370px">There's nothing here</h2>
  </div>
  <div class="col-md-4 offset-2" style="color: darkgrey; width: 70%">
    <div class="card" style="width: 18rem;background-color: #171a21;float: left; margin: 10px;height: 20rem; position:relative; " *ngFor="let item of games">
      <img src="{{item.image}}" class="card-img-top" alt="">
      <div class="card-body">
        <div class="row">
          <h5 class="card-title">{{item.gameName}}</h5>
        </div>
        <div class="row align-items-end">
          <a style="position:absolute; bottom:0;left: 0" (click)="gameDetails(item.id)" class="btn btn-primary">More info</a>
        </div>
      </div>
    </div>
  </div>
</div>
