
<div class="row">
  <div class="col-md-4 offset-2">
    <mat-button-toggle-group>
      <mat-button-toggle (click)="category = 'TopSellers'; firstButton=true;" [class.mat-button-toggle-checked]="firstButton">Top Sellers</mat-button-toggle>
      <mat-button-toggle (click)="category = 'NewReleases'; firstButton=false;">New Releases</mat-button-toggle>
      <mat-button-toggle (click)="category = 'Specials'; firstButton=false;">Specials</mat-button-toggle>
      <mat-button-toggle (click)="category = 'VirtualReality'; firstButton=false;">Virtual Reality</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

</div>

<app-catalog-content [category]="category" [update]="true"></app-catalog-content>
